# This is the spec for the indeed api spec don't hate me for the descriptions
# you can see there are the descriptions for the site itself

swagger: '2.0'
info:
  title: Indeed API
  description: Move your app forward with the Indeed API
  version: "1.0.0"
# the domain of the service
host: api.indeed.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
  - application/xml
paths:
  /ads/apisearch:
    get:
      summary: ApiSearch
      description: |
        This endpoint gets the list of the jobs that indeed is currently using
      parameters:
        - name: publisher
          in: query
          description: This is assigned when you register as a publisher.
          required: true
          type: integer
          format: int32
        - name: v
          in: query
          description: |
            Version. Which version of the API you wish to use. All publishers should be using version 2.
            Currently available versions are 1 and 2. This parameter is required.
          required: true
          type: integer
          format: int32
        - name: format
          in: query
          description: |
            Format. Which output format of the API you wish to use.
            The options are "xml" and "json". If omitted or invalid, the XML format is used.
          required: true
          type: string
          format: string
        - name: callback
          in: query
          description: |
            Callback. The name of a javascript function to use as a callback to which the results of the search are passed. This only applies when
            format=json. For security reasons, the callback name is restricted letters, numbers, and the underscore character.
          required: true
          type: string
          format: string
        - name: q
          in: query
          description: |
            Query. By default terms are ANDed. To see what is possible, use our advanced search page to perform a search and then check the url for
            the q value.
          required: true
          type: string
          format: string
        - name: l
          in: query
          description: |
            Location. Use a postal code or a "city, state/province/region" combination.
          required: true
          type: string
          format: string
        - name: sort
          in: query
          description: Sort by relevance or date. Default is relevance.
          required: false
          type: string
          format: date
        - name: radius
          in: query
          description: |
            Distance from search location ("as the crow flies"). Default is 25.
          required: false
          type: integer
          format: int64
        - name: st
          in: query
          description: |
            Site type. To show only jobs from job boards use "jobsite". For jobs from direct employer websites use "employer".
          required: false
          type: string
          format: string
        - name: jt
          in: query
          description: |
            Job type. Allowed values: "fulltime", "parttime", "contract", "internship", "temporary".
          required: true
          type: string
          format: string
          # enum:
          #   - fulltime
          #   - parttime
          #   - contract
          #   - internship
        - name: start
          in: query
          description: |
            Start results at this result number, beginning with 0. Default is 0.
          required: false
          type: integer
          format: int64
        - name: limit
          in: query
          description: |
            Maximum number of results returned per query. Default is 10
          required: false
          type: integer
          format: int64
        - name: fromage
          in: query
          description: |
            Number of days back to search.
          required: true
          type: integer
          format: int64
        - name: highlight
          in: query
          description: |
            Setting this value to 1 will bold terms in the snippet that are also present in q. Default is 0.
          required: true
          type: boolean
        - name: filter
          in: query
          description: |
            Filter duplicate results. 0 turns off duplicate job filtering. Default is 1.
          required: false
          type: boolean
        - name: latlong
          in: query
          description: |
            If latlong=1, returns latitude and longitude information for each job result. Default is 0.
          required: false
          type: boolean
        - name: co
          in: query
          description: |
            Search within country specified. Default is us See below for a complete list of supported countries.
          required: false
          type: string
          format: string
        - name: chnl
          in: query
          description: |
            Channel - name: Group API requests to a specific channel
          required: true
          type: string
          format: string
        - name: userip
          in: query
          description: |
            The IP number of the end-user to whom the job results will be displayed. This field is required.
          required: true
          type: string
          format: string
        - name: useragent
          in: query
          description: |
            The User-Agent (browser) of the end-user to whom the job results will be displayed. This can be obtained from the "User-Agent" HTTP request header from the end-user. This field is required.
          required: true
          type: string
          format: string
      tags:
        - Jobs
      responses:
        200:
          description: An array of Jobs
          schema:
            type: array
            items:
              $ref: '#/definitions/Job'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Result:
    type: object
    properties:
      jobtitle:
        type: string
      company:
        type: string
      city:
        type: string
      state:
        type: string
      country:
        type: string
      formattedLocation:
        type: string
      source:
        type: string
      date:
        type: string
        format: date
      snippet:
        type: string
      longitude:
        type: number
        format: double
      jobkey:
        type: integer
        format: int64
      sponsored:
        type: boolean
      expired:
        type: boolean
      formattedLocationFull:
        type: string
      formattedRelativeTime:
        type: string
  Job:
    type: object
    properties:
      query:
        type: string
        description: This is the query string we searched by
      location:
        type: string
        description: location of job
      dupefilter:
        type: boolean
      totalresults:
        type: integer
        format: int64
      highlight:
        type: boolean
        description: no idea
      start:
        type: integer
        format: int64
      end:
        type: integer
        format: int64
      radius:
        type: integer
        format: int64
        description: get's the radius of the thing
      pageNumber:
        type: integer
        format: int64
      results:
        type: array
        items:
          $ref: '#/definitions/Result'
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
